.center{
	background-color: green;
      text-align: center;
    padding: 70px 0;}

.middle{
	background-color: yellowgreen;
      text-align: center;
    padding: 70px 0;}
.header{
      text-align: center;}


.start{

      text-align: center;}
