@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
}

.co {
  text-align: center;
  display: grid;
  margin: 200px 90px auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 700px) {
  .co {
    margin: 200px auto;
  }
}

.co .box {
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}

.co .box .front-face {
  background: green;
  color: white;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
}

.box .front-face .icon {
  height: 80px;
  color: white;
}

.box .front-face .icon i {
  font-size: 65px;
}

.box .back-face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: yellowgreen;
  transform: translateY(110px) rotateX(-90deg);
  transition: all 0.5s ease;
}

.box .back-face p {
  margin-top: 10px;
  text-align: justify;
}

.box:hover .back-face {
  opacity: 1;
  transform: rotateX(0deg);
}

.box:hover .front-face {
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}